.search_input:hover {
  box-shadow: #8a84e3 0px 0px 14px 3px;
  border-radius: 5px;
  transition-duration: 400ms;
}
.search_input {
  transition-duration: 400ms;
  border: solid 1px #8a84e3;
  border-radius: 5px;
}

.search_input .search_button {
  padding: 5px;
  transition-duration: 200ms;
  cursor: pointer;
  border-radius: 2px;
}

.search_input .search_button:hover {
  transition-duration: 200ms;
  background-color: rgb(114, 132, 255);
}

.mapPart {
  display: flex;
  justify-content: center;
}

.gmnoprint {
  display: none;
}
.gm-style-cc {
  display: none;
}
a[aria-label="Open this area in Google Maps (opens a new window)"] {
  display: none !important;
}
